DJANGO_SECRET_KEY=replace-with-a-long-random-secret
DJANGO_ALLOWED_HOSTS=app.rabasa.ir,192.168.1.23,localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://app.rabasa.ir,http://192.168.1.23:8080,http://127.0.0.1:8080,http://localhost:8000,http://127.0.0.1:8000
DJANGO_EMAIL_HOST=localhost
DJANGO_EMAIL_PORT=25
DJANGO_EMAIL_HOST_USER=
DJANGO_EMAIL_HOST_PASSWORD=
DJANGO_EMAIL_USE_TLS=false
DJANGO_EMAIL_USE_SSL=false
DJANGO_DEFAULT_FROM_EMAIL=noreply@localhost
