DJANGO_SECRET_KEY=replace-with-a-long-random-secret
DJANGO_ALLOWED_HOSTS=app.rabasa.ir,192.168.1.23,localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://app.rabasa.ir,http://192.168.1.23:8080,http://127.0.0.1:8080,http://localhost:8000,http://127.0.0.1:8000
