# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Database
db.sqlite3

# Django static files
staticfiles/

# Uploaded/runtime media
media/*
!media/.gitkeep

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
