<div class="modal fade" tabindex="-1" role="dialog" id="popUpModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="بستن"></button>
            </div>
            <div class="modal-body" id="modal-body"></div>
            <div class="modal-footer" id="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnModalClose" data-bs-dismiss="modal">
                    بستن
                </button>
            </div>
        </div>
    </div>
</div>
